p {
	font-family: 'raleway';
	text-align:justify;
}

/************** Header *************/
/***********************************/

header {
	background-image: url(../img/visagehumanoid.jpg); 
	background-repeat: no-repeat;
	background-size: cover;

}

header h1 {
	font-size: 60px;
	text-align: center;
	margin: 30px 0 30px 0;
	color: white;
	font-family: 'robotaur';

}


header>div>a {
	color: black;
	
}

/*****************/


page-scroll:hover {
	background-color: pink;

}

section {
	margin: 50px 0 100px 0;
}

/************ Buttons *************/
/**********************************/

#arrowhp {
	position: absolute;
	bottom: 20px;
	left: 650px;
	opacity: 0.8;
}

#arrowhp:hover{
	opacity: 1; 
	background-image: url(../img/arrow-down.png); 
	cursor: pointer;
}

/*************** ID's *************/
/**********************************/

#header {
	padding: 250px 0 250px 0 ;
}

#introduction {
	padding: 100px 0 0 0;
}

#controverses {
	padding: 100px 0 0 0;
}

#debats div iframe {
	padding: 100px 0 0 0;
  	text-align:center;
  	width:100%;
}

#acteurs div iframe {
	padding: 100px 0 0 0;
  	text-align:center;
  	width:100%;
}

#chronologie {
	padding: 100px 0 0 0;
	margin-bottom: 50px;
}

#introtext {
	padding: 50px 0 0 0;
}

/********* Footer ********/
/*************************/


footer {
	background-color: grey;
	padding: 60px;
}

footer ul {

	padding: 0;
	list-style-type: none;
	text-align: center;

}

footer li {
	display: inline-block;
	margin: 15px;
}


footer a {
	color: #fff;

}

footer a:hover {
	color: black;
	text-decoration: none;

}

/********* Custom Fonts **********/
/*********************************/

@font-face {
    font-family: 'robotaur'; /*a name to be used later*/
    src: url('../fonts/robotaur.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'raleway';
	src: url('../fonts/Raleway-Black.ttf');
}
